Repository microsoft/azure-pipelines-agent, pull requests merged in 2024-10, with the labels that each got.

#5009 Updated vssapi version to publish the custom test fields while creating a merged test run
  src/Agent.Listener/Agent.Listener.csproj
  src/Agent.Worker/Agent.Worker.csproj
  src/Common.props
  src/Test/Test.csproj
Labels: enhancement, Area: Agent

#5013 Fix CVE-2024-43485 in System.Text.Json 6.0.9
  src/Agent.Listener/Agent.Listener.csproj
  src/Agent.Sdk/Agent.Sdk.csproj
  src/Agent.Worker/Agent.Worker.csproj
  src/Test/Test.csproj
Labels: bug, Area: Agent

#5015 Support sparse checkout
  src/Agent.Plugins/GitCliManager.cs
  src/Agent.Plugins/GitSourceProvider.cs
  src/Agent.Sdk/Knob/AgentKnobs.cs
  src/Common.props
Labels: enhancement

#5024 Mask URL with credentials on publish telemetry
  src/Agent.Worker/JobExtension.cs
  src/Test/L0/TestHostContext.cs
  src/Test/L0/Worker/JobExtensionL0.cs
Labels: misc, Area: Agent

#5022 Fix an issue with pipeline timeline update
  src/Agent.Worker/JobRunner.cs
  src/Microsoft.VisualStudio.Services.Agent/JobServerQueue.cs
Labels: bug, Area: Agent
